aws_region  = "ap-south-1"
project     = "cloudmart"
environment = "prod"
team_id     = "group-id"
owner_email = "your-email@example.com"

vpc_cidr                  = "10.10.0.0/16"
az_count                  = 2
enable_nat_gateway        = true # Required for private EKS nodes unless ECR/STS/Logs interface endpoints are added.
enable_gateway_endpoints  = true
enable_flow_logs          = false
flow_log_retention_days   = 7
bastion_allowed_ssh_cidrs = []

ses_from_email = "noreply@cloudmart.example"
alert_email    = "your-email@example.com"
