aws_region  = "ap-south-1"
project     = "cloudmart"
environment = "staging"
team_id     = "group-id"
owner_email = "your-email@example.com"

vpc_cidr                  = "10.0.0.0/16"
az_count                  = 2
enable_nat_gateway        = false
enable_gateway_endpoints  = true
enable_flow_logs          = false
flow_log_retention_days   = 7
bastion_allowed_ssh_cidrs = []

ecs_allowed_http_cidrs        = ["0.0.0.0/0"]
ecs_frontend_port             = 8080
ecs_task_cpu                  = "1024"
ecs_task_memory               = "2048"
ecs_desired_count             = 0
ecs_log_retention_days        = 7
ecs_enable_container_insights = false
